Repository programminghistorian/jekyll, pull requests merged in 2022-02, with the labels that each got.

#2476 Added info box about new version
  en/lessons/corpus-analysis-with-antconc.md
  es/lecciones/analisis-de-corpus-con-antconc.md
  fr/lecons/analyse-corpus-antconc.md
Labels: Lesson Maintenance, spanish, french, english

#2485 Update intro-to-bash.md
  en/lessons/intro-to-bash.md
Labels: Lesson Maintenance, english

#2482 Issue 2481
  _data/ph_authors.yml
  avatars/giulia-taurino.png
  avatars/john-r-ladd.png
  avatars/liz-fischer.png
  avatars/rolando-rodriguez.png
  avatars/scott-kleinman.png
  avatars/yann-ryan.png
  en/lessons/geocoding-qgis.md
Labels: english

#2488 Issue 2487
  en/supporters.md
  es/colaboradores.md
  fr/nos-soutiens.md
  pt/apoiadores.md
Labels: Communication, ProgHist Ltd

#2495 Publish Finding places in text with the World Historical Gazeteer
  _data/ph_authors.yml
  assets/finding-places-world-historical-gazetteer/LinkedPlacesTSV.txt
  assets/finding-places-world-historical-gazetteer/ScriptOutput.txt
  assets/finding-places-world-historical-gazetteer/gazetteer.txt
  assets/finding-places-world-historical-gazetteer/place_texts.txt
  en/lessons/finding-places-world-historical-gazetteer.md
  gallery/finding-places-world-historical-gazetteer.png
  gallery/originals/finding-places-world-historical-gazetteer-original.png
  images/finding-places-world-historical-gazetteer/FINDING-PLACES-WORLD-HISTORICAL-GAZETTEER0.png
  images/finding-places-world-historical-gazetteer/FINDING-PLACES-WORLD-HISTORICAL-GAZETTEER1.svg
  images/finding-places-world-historical-gazetteer/FINDING-PLACES-WORLD-HISTORICAL-GAZETTEER10.JPG
  images/finding-places-world-historical-gazetteer/FINDING-PLACES-WORLD-HISTORICAL-GAZETTEER11.JPG
  images/finding-places-world-historical-gazetteer/FINDING-PLACES-WORLD-HISTORICAL-GAZETTEER12.png
  images/finding-places-world-historical-gazetteer/FINDING-PLACES-WORLD-HISTORICAL-GAZETTEER13.JPG
  images/finding-places-world-historical-gazetteer/FINDING-PLACES-WORLD-HISTORICAL-GAZETTEER2.JPG
  images/finding-places-world-historical-gazetteer/FINDING-PLACES-WORLD-HISTORICAL-GAZETTEER3.JPG
  images/finding-places-world-historical-gazetteer/FINDING-PLACES-WORLD-HISTORICAL-GAZETTEER4.JPG
  images/finding-places-world-historical-gazetteer/FINDING-PLACES-WORLD-HISTORICAL-GAZETTEER5.JPG
  images/finding-places-world-historical-gazetteer/FINDING-PLACES-WORLD-HISTORICAL-GAZETTEER6.JPG
  images/finding-places-world-historical-gazetteer/FINDING-PLACES-WORLD-HISTORICAL-GAZETTEER7.JPG
  images/finding-places-world-historical-gazetteer/FINDING-PLACES-WORLD-HISTORICAL-GAZETTEER8.JPG
  images/finding-places-world-historical-gazetteer/FINDING-PLACES-WORLD-HISTORICAL-GAZETTEER9.JPG
Labels: english

#2493 Issue 2489 and 2442
  en/about.md
  es/acerca-de.md
  fr/apropos.md
  pt/sobre.md
Labels: Communication

#2498 Blogpost new trustee2022
  _posts/2022-02-22-proghist-trustee-advert.md
Labels: ProgHist Ltd

#2500 Update 2022-02-22-proghist-trustee-advert.md
  _posts/2022-02-22-proghist-trustee-advert.md
Labels: ProgHist Ltd
