Repository programminghistorian/jekyll, pull requests merged in 2024-02, with the labels that each got.

#3165 Update correspondence-analysis-in-R.md
  .github/workflows/build.yml
  en/feedback.md
  en/lessons/correspondence-analysis-in-R.md
  en/translator-guidelines.md
  es/retroalimentacion.md
  fr/consignes-auteurs.md
  fr/reaction.md
  pt/reportar-um-erro.md
Labels: Lesson Maintenance, English

#3163 Issue 3162
  en/supporters.md
  es/colaboradores.md
  fr/nos-soutiens.md
  pt/apoiadores.md
Labels: ProgHist

#3151 Issue 2531
  en/lessons/mac-installation.md
  es/lecciones/instalacion-mac.md
  images/mac-installation/en-or-sublimetext-hello-world.png
  images/mac-installation/es-tr-sublimetext-hola-mundo.png
  images/mac-installation/mac-installation/en-or-sublimetext-hello-world.png
  images/mac-installation/mac-installation/es-tr-sublimetext-hola-mundo.png
  images/mac-installation/mac-installation/pt-tr-sublimetext-ola-mundo.png
  images/mac-installation/pt-tr-sublimetext-ola-mundo.png
  pt/licoes/instalacao-mac.md
Labels: Lesson Maintenance, Español, English, Português

#3174 Issue 3124
  en/research.md
  es/investigacion.md
  fr/recherche.md
  pt/pesquisa.md
Labels: Research

#3173 Issue 3066
  en/events.md
  es/eventos.md
  fr/evenements.md
  pt/eventos.md
Labels: Events

#3177 Issue-3176
  en/author-guidelines.md
Labels: English, ProgHist

#3184 Issue-3160-b
  en/lessons/clustering-visualizing-word-embeddings.md
Labels: Lesson Maintenance, English

#3187 Publish concevoir-base-donnees-nodegoat
  _data/ph_authors.yml
  avatars/agustin-cosovschi.png
  fr/lecons/concevoir-base-donnees-nodegoat.md
  gallery/concevoir-base-donnees-nodegoat.png
  gallery/originals/concevoir-base-donnees-nodegoat-original.png
  images/concevoir-base-donnees-nodegoat/fr-or-concevoir-base-donnees-nodegoat-01.png
  images/concevoir-base-donnees-nodegoat/fr-or-concevoir-base-donnees-nodegoat-02.png
  images/concevoir-base-donnees-nodegoat/fr-or-concevoir-base-donnees-nodegoat-03.png
  images/concevoir-base-donnees-nodegoat/fr-or-concevoir-base-donnees-nodegoat-04.png
  images/concevoir-base-donnees-nodegoat/fr-or-concevoir-base-donnees-nodegoat-05.png
  images/concevoir-base-donnees-nodegoat/fr-or-concevoir-base-donnees-nodegoat-06.png
  images/concevoir-base-donnees-nodegoat/fr-or-concevoir-base-donnees-nodegoat-07.png
  images/concevoir-base-donnees-nodegoat/fr-or-concevoir-base-donnees-nodegoat-08.png
  images/concevoir-base-donnees-nodegoat/fr-or-concevoir-base-donnees-nodegoat-09.png
  images/concevoir-base-donnees-nodegoat/fr-or-concevoir-base-donnees-nodegoat-10.png
  images/concevoir-base-donnees-nodegoat/fr-or-concevoir-base-donnees-nodegoat-11.png
  images/concevoir-base-donnees-nodegoat/fr-or-concevoir-base-donnees-nodegoat-12.png
  images/concevoir-base-donnees-nodegoat/fr-or-concevoir-base-donnees-nodegoat-13.png
  images/concevoir-base-donnees-nodegoat/fr-or-concevoir-base-donnees-nodegoat-14.png
  images/concevoir-base-donnees-nodegoat/fr-or-concevoir-base-donnees-nodegoat-15.png
  images/concevoir-base-donnees-nodegoat/fr-or-concevoir-base-donnees-nodegoat-16.png
  images/concevoir-base-donnees-nodegoat/fr-or-concevoir-base-donnees-nodegoat-17.png
Labels: Français
