Repository programminghistorian/jekyll, pull requests merged in 2024-09, with the labels that each got.

#3344 Issue 3343
  en/events.md
  en/research.md
  es/eventos.md
  es/investigacion.md
  fr/evenements.md
  fr/recherche.md
  pt/eventos.md
  pt/pesquisa.md
Labels: ProgHist, Research

#3348 Issue 3347
  en/lessons/intro-to-twitterbots.md
  fr/lecons/intro-aux-bots-twitter.md
Labels: Lesson Maintenance, Français, English

#3352 Update introduction-to-populating-a-website-with-api-data.md
  en/lessons/introduction-to-populating-a-website-with-api-data.md
Labels: Lesson Maintenance, English

#3346 Issue 3345
  en/lessons/clustering-with-scikit-learn-in-python.md
Labels: Lesson Maintenance, English

#3331 Issue 2868
  en/lessons/temporal-network-analysis-with-r.md
  es/lecciones/analisis-temporal-red.md
Labels: Lesson Maintenance, Español, English

#3358 Issue 3357
  en/lessons/beginners-guide-to-twitter-data.md
  en/lessons/intro-to-twitterbots.md
  en/research.md
  es/investigacion.md
  fr/lecons/intro-aux-bots-twitter.md
  fr/recherche.md
  pt/pesquisa.md
Labels: Research

#3361 Issue 3359
  en/research.md
  es/investigacion.md
  fr/recherche.md
  pt/pesquisa.md
Labels: Español, Français, English, Português, Research

#3366 Issue 3365
  en/lessons/building-static-sites-with-jekyll-github-pages.md
  en/lessons/creating-network-diagrams-from-historical-sources.md
  en/lessons/temporal-network-analysis-with-r.md
  en/lessons/topic-modeling-and-mallet.md
  es/lecciones/analisis-temporal-red.md
  es/lecciones/creando-diagramas-de-redes-desde-fuentes-historicas.md
  es/lecciones/sitios-estaticos-con-jekyll-y-github-pages.md
  es/lecciones/topic-modeling-y-mallet.md
Labels: Lesson Maintenance, Español, English

#3369 Issue 3368
  _posts/2024-09-27-bulletin-issue-04.md
  assets/bulletin/2024-09-27-bulletin-issue-04.pdf
Labels: Community, ProgHist
