Repository programminghistorian/jekyll, pull requests merged in 2024-05, with the labels that each got.

#3257 Issue 3256
  en/lessons/text-mining-with-extracted-features.md
  en/lessons/topic-modeling-and-mallet.md
  es/lecciones/topic-modeling-y-mallet.md
Labels: Lesson Maintenance, Español, English

#3255 Issue 3254
  en/lessons/downloading-multiple-records-using-query-strings.md
  en/lessons/from-html-to-list-of-words-1.md
  en/lessons/from-html-to-list-of-words-2.md
  en/lessons/naive-bayesian.md
  en/lessons/normalizing-data.md
  en/lessons/preserving-your-research-data.md
  en/lessons/working-with-web-pages.md
  es/lecciones/de-html-a-lista-de-palabras-1.md
  es/lecciones/de-html-a-lista-de-palabras-2.md
  es/lecciones/descarga-multiples-registros-usando-cadenas-de-consulta.md
  es/lecciones/normalizar-datos.md
  es/lecciones/preservar-datos-de-investigacion.md
  es/lecciones/trabajar-con-paginas-web.md
  fr/lecons/du-html-a-une-liste-de-mots-1.md
  fr/lecons/du-html-a-une-liste-de-mots-2.md
  fr/lecons/preserver-ses-donnees-de-recherche.md
  fr/lecons/telecharger-des-pages-web-avec-python.md
  pt/licoes/HTML-lista-palavras-1.md
  pt/licoes/HTML-lista-palavras-2.md
  pt/licoes/download-multiplos-registros-query-strings.md
  pt/licoes/download-paginas-web-python.md
  pt/licoes/normalizacao-dados-textuais-python.md
  pt/licoes/preservar-os-seus-dados-de-investigacao.md
Labels: Lesson Maintenance, Español, Français, English, Português

#3262 Update sumarizacao-narrativas-web-python.md
  pt/licoes/sumarizacao-narrativas-web-python.md
Labels: Lesson Maintenance, Português

#3259 Update interactive-visualization-with-plotly.md
  en/lessons/interactive-visualization-with-plotly.md
Labels: Lesson Maintenance, English

#3263 Issue 3260
  en/events.md
  en/research.md
  es/eventos.md
  es/investigacion.md
  fr/evenements.md
  fr/recherche.md
  pt/eventos.md
  pt/pesquisa.md
Labels: Events, Research

#3265 Update creating-guis-in-python-for-digital-humanities-projects.md
  en/lessons/creating-guis-in-python-for-digital-humanities-projects.md
Labels: Lesson Maintenance, English

#3268 Delete assets/computer-vision-deep-learning-pt-1 directory
  assets/computer-vision-deep-learning-pt-1/computer-vision-deep-learning-pt-1-2.ipynb
Labels: Lesson Maintenance, English

#3272 Issue 3269
  en/events.md
  es/eventos.md
  fr/evenements.md
  pt/eventos.md
Labels: Events

#3267 Issue 3266
  en/lessons/computer-vision-deep-learning-pt1.md
  en/lessons/computer-vision-deep-learning-pt2.md
  images/computer-vision-deep-learning-pt1/en-or-computer-vision-deep-learning-pt1-01.png
Labels: Lesson Maintenance, English
