Repository programminghistorian/jekyll, pull requests merged in 2024-04, with the labels that each got.

#3238 Issue 3225
  en/research.md
  es/investigacion.md
  fr/recherche.md
  pt/pesquisa.md
Labels: Research

#3243 Issue 3242
  en/lessons/topic-modeling-and-mallet.md
  es/lecciones/topic-modeling-y-mallet.md
Labels: Lesson Maintenance, Español, English

#3245 Issue 3244
  en/lessons/intro-to-bash.md
  es/lecciones/introduccion-a-bash.md
  images/intro-to-bash/en-or-intro-to-bash-01.png
  images/intro-to-bash/en-or-intro-to-bash-02.png
  images/intro-to-bash/en-or-intro-to-bash-03.png
  images/intro-to-bash/en-or-intro-to-bash-04.png
  images/intro-to-bash/en-or-intro-to-bash-05.png
  images/intro-to-bash/en-or-intro-to-bash-06.png
  images/intro-to-bash/en-or-intro-to-bash-07.png
  images/intro-to-bash/en-or-intro-to-bash-08.png
Labels: Lesson Maintenance, Español, English

#3241 Issue-2836
  en/lessons/building-static-sites-with-jekyll-github-pages.md
  es/lecciones/sitios-estaticos-con-jekyll-y-github-pages.md
Labels: Lesson Maintenance, Español, English

#3249 Publish fr/lecons/intro-a-bash-et-zsh
  fr/lecons/intro-a-bash-et-zsh.md
Labels: Français

#3239 Issue 2462
  en/lessons/building-static-sites-with-jekyll-github-pages.md
Labels: Lesson Maintenance, Español, English, Português

#3251 Issue-3250
  en/lessons/space-place-gazetteers.md
Labels: Lesson Maintenance, English

#3247 Publish fr/lecons/analyse-reseau-python
  _data/ph_authors.yml
  fr/lecons/analyse-reseau-python.md
Labels: Français
